/* ==========BASIC UNIVERSAL STYLING & CLEAN UP============= */

/* Importing a downloaded font */
@font-face {
  font-family: "Abyss";
  /* Jumps back to index via ../ */
  src: url("../fonts/Abyss.otf");
}

@font-face {
  font-family: "ViaodaLibre";
  /* Jumps back to index via ../ */
  src: url("../fonts/ViaodaLibre-Regular.ttf");
}

@font-face {
  font-family: "Bebas";
  /* Jumps back to index via ../ */
  src: url("../fonts/BebasNeue-Regular.ttf");
}

@font-face {
  font-family: "Karla";
  /* Jumps back to index via ../ */
  src: url("../fonts/Karla-VariableFont_wght.ttf");
}

/* some basic css resetting */
/* Creating CSS Custom Properties */
/* Selecting the root element of your page, which in almost all cases is the html element */
:root {
  --primary-color: #fffefe;
  --secondary-color: #292226;
  --tertiary-color: #4d697b;

  --hero-font: "Amatic SC";
  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "Bebas";
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

nav a {
  text-decoration: none;
  color: var(--secondary-color);
  font-family: var(--secondary-font);
}

section {
  height: auto;
  padding: 10px;
  /* border: pink 5px dashed; */
}

h1,
h2,
h3 {
  font-family: var(--secondary-font);
}

h1 {
  font-family: var(--hero-font);
  color: var(--primary-color);
}

h2 {
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
}
/* ==========HEADER============= */

header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  position: sticky;
  top: 0;
  left: 0;
  /* remember that a value for the position property must 
  be specified for a z-index to work */
  z-index: 10;
  background-color: #ffffff;
  border-bottom: 1px solid grey;
}

header a {
  height: 100%;
}

/* ==========LOGO============= */

.logo {
  height: 100%;
  width: auto;
}

/* ==========NAVIGATION============= */

nav {
  width: 50%;
  min-width: 600px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

/* Styling the nav bar text */
nav li a {
  font-size: 26px;
  font-weight: 400;
  transition: 1s ease;
}

nav li a:hover {
  color: var(--tertiary-color);
  text-decoration: underline;
}

/* ==========MAIN BODY CONTENT============= */

/* ==========SECTION 1 STYLING============= */

#hero {
  /* Sets the height of the section to the entire height of the viewport */
  height: 100vh;
  /* An element with position: absolute must have a parent element set
   to position: relative to contain it, otherwise it will be positioned in relation
   to the html element. This is the parent container for the hero text */
  position: relative;
  /* Make sure to get this image below 1MB - other images should be around 200kb */
  background-image: url("../images/hero3.jpg");
  background-position: center;
  background-size: cover;
}

.hero-text {
  /* Parent of this element must be position relative */
  /* Position absolute takes it out of the normal content flow */
  position: absolute;
  color: white;
  top: 50%;
  left: 10%;
  font-size: 8rem;
}

/* ==========SECTION 2 STYLING============= */

#about-us h3 {
  padding: 0;
  margin: 0;
}

#about-us-grid-container {
  margin: 0 auto;
  margin-bottom: 100px;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 400px 400px;
  gap: 50px;
  /* border: darkblue dashed 3px; */
}

.about-us-grid-item {
  /* border: black 1px solid; */
  font-family: "Montserrat", sans-serif;
  text-align: justify;
}

#about-us-image-1 {
  background-image: url("../images/blue-mountains.jpg");
  background-position: bottom;
  background-size: cover;
  border-radius: 3px;
}

#about-us-image-2 {
  background-image: url("../images/child-feeding-chickens.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 3px;
}

#meet-the-animals {
  margin: 0 auto;
  max-width: 1000px;
}

#meet-the-animals-grid-container {
  display: grid;
  /* min-max stops the elements from the images from resizing to a tiny width */
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-template-rows: repeat(2, 200px);
  place-items: center;
  gap: 100px;
  margin-bottom: 50px;
}

.meet-the-animals-grid-item {
  /* border: 1px black solid; */
  height: 100%;
  width: 100%;
}

.animal-bio-pic {
  /* Covers the entire are whilst maintaining the aspect ratio */
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  transition: transform 0.1s ease-in-out;
}

.animal-bio-pic:hover {
  transform: scale(1.01);
}

/* ==========SECTION 3 STYLING============= */

/* Applying styling to the entire section */
#gallery {
}

#gallery-grid-container {
  display: grid;
  height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

#gallery-item-1 {
  grid-column: span 1;
  grid-row: span 2;
}

#gallery-item-2 {
  grid-column: span 1;
  grid-row: span 3;
}

#gallery-item-3 {
  grid-column: span 1;
  grid-row: span 1;
}
#gallery-item-4 {
  grid-column: span 1;
  grid-row: span 4;
}
#gallery-item-5 {
  grid-column: span 1;
  grid-row: span 2;
}

#gallery-item-6 {
  grid-column: span 1;
  grid-row: span 3;
}

/* ==========SECTION 4 STYLING============= */
#bookings {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1000px;
  margin: 0 auto;
  border: 1px solid var(--secondary-color);
}

#bookings-form-container {
  margin: 0 auto;
}

#bookings-image-container {
  /* https://unsplash.com/photos/GHOiyov2TSQ */
  background-image: url("../images/horses.jpg");
  background-size: cover;
  border: 1px solid blue;
}

/* using flexbox to make all of the child elements the same width */
form {
  display: flex;
  flex-direction: column;
}

/* decreasing the amount of space bewteen form elements */
form > * {
  margin: -7px;
}

label,
::placeholder,
select,
input[type="date"] {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
}

textarea {
  width: auto;
  height: 150px;
}

#book-now-button {
  font-family: var(--secondary-font);
  font-size: medium;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 50px;
  border: none;
  padding: 10px 0;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  font-weight: bold;
}

#book-now-button:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: solid 2px var(--secondary-color);
}

/* ==========FOOTER STYLIING============= */

footer {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  height: auto;
}

.footer-space-manager {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-container a {
  color: var(--primary-color);
  text-decoration: none;
}

/* ==========RESPONSIVE DESIGN============= */

/* ===== DESKTOP HD: Media queries for most HD desktops ===== */
@media only screen and (max-width: 1920px) {
}

/* ===== SMALL DESKTOP: Media queries for laptop/small desktop ===== */
@media only screen and (max-width: 1366px) {
}

/* ===== TABLET: Media queries for verticle and horizontal ===== */
@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 768px) {
}

/* ===== MOBILE: Media queries for small mobile resolution. ===== */
@media only screen and (max-width: 640px) {
}

@media only screen and (max-width: 360px) {
}

/* REFERENCES */

/* sheep.jpg -  https://unsplash.com/photos/GHOiyov2TSQ */
/* cows.jpg - https://unsplash.com/photos/UdhpcfImQ9Y */
/* horses.jpg - https://unsplash.com/photos/38_XHFO6ycI */
/* horse.jpg - https://unsplash.com/photos/Olt577JtPM0 */
/* chicken.jpg - https://unsplash.com/photos/yEW23jxVsNI */
/* piglets.jpg - https://unsplash.com/photos/6y7jACxmhP8 */
/* goat.jpg - https://unsplash.com/photos/bhD6TGRjnWc */
/* blue-mountains.jpg - https://unsplash.com/photos/Y04q5UQrRQM */
/* child-feeding-chickens.jpg - https://unsplash.com/photos/SO8FjbZRSW0 */
/* cabin-sunset.jpg - https://unsplash.com/photos/BSQq5dRT_KU */
/* coffee-in-bed.jpg - https://unsplash.com/photos/HvX8bOBvyR8 */
/* cabin-interior.jpg - https://unsplash.com/photos/uX8wVtW5PQo */
/* woman-drinking-tea.jpg - https://unsplash.com/photos/DeRbzZO4bUY */
/* fireplace.jpg - https://unsplash.com/photos/xvYNf3a6LmM */
/* man-pats-horse - https://unsplash.com/photos/0J_dP7tm0Iw */
/* hero3.jpg - https://www.pexels.com/photo/landscape-photography-of-green-grass-field-1227596/*/
