/* ==========BASIC UNIVERSAL STYLING & CLEAN UP============= */
/* some basic css resetting */
html {
  scroll-behavior: auto;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Amatic SC", cursive;
}
a {
  text-decoration: none;
  color: black;
}

section {
  height: auto;
  border: pink 5px dashed;
}
h2 {
  font-size: 5rem;
  font-weight: 300;
  text-align: center;
}

/* ==========HEADER============= */

header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  position: sticky;
  top: 0;
  left: 0;
  /* remember that a value for the position property must 
  be specified for a z-index to work */
  z-index: 10;
  background-color: #ffffff;
  border-bottom: 1px solid grey;
}

header a {
  height: 100%;
}

/* ==========LOGO============= */

.logo {
  height: 100%;
  width: auto;
}

/* ==========NAVIGATION============= */

nav {
  width: 50%;
  min-width: 600px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

/* Styling the nav bar text */
nav li a {
  font-size: 26px;
  font-weight: 400;
  transition: 1s ease;
}

nav li a:hover {
  color: blue;
}

/* ==========MAIN BODY CONTENT============= */

/* ==========SECTION 1 STYLING============= */

#hero {
  /* Sets the height of the section to the entire height of the viewport */
  height: 100vh;
  /* An element with position: absolute must have a parent element set
   to position: relative to contain it, otherwise it will be positioned in relation
   to the html element. This is the parent container for the hero text */
  position: relative;
  background-image: url("../images/hero.jpeg");
  background-position: center;
  background-size: cover;
}

.hero-text {
  /* Parent of this element must be position relative */
  /* Position absolute takes it out of the normal content flow */
  position: absolute;
  color: white;
  top: 50%;
  left: 10%;
  font-size: 8rem;
}

/* ==========SECTION 2 STYLING============= */
#about-us {
  background-color: rgb(255, 252, 249);
}

#about-us h3 {
  font-family: "Amatic SC", cursive;
  padding: 0;
  margin: 0;
}

#about-us-grid-container {
  margin: 0 auto;
  margin-bottom: 100px;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 400px 400px;
  gap: 50px;
  /* border: darkblue dashed 3px; */
}

.about-us-grid-item {
  /* border: black 1px solid; */
  font-family: "Montserrat", sans-serif;
  text-align: justify;
}

#about-us-image-1 {
  background-image: url("/images/horses.jpg");
  background-position: bottom;
  background-size: cover;
  border-radius: 3px;
}

#about-us-image-2 {
  background-image: url("/images/lilac-valley-logo.png");
  background-position: center;
  background-size: cover;
  border-radius: 3px;
}

#meet-the-animals {
  margin: 0 auto;
  max-width: 1000px;
}

#meet-the-animals-grid-container {
  display: grid;
  /* min-max stops the elements from the images from resizing to a tiny width */
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-template-rows: repeat(2, 300px);
  place-items: center;
  gap: 100px;
}

.meet-the-animals-grid-item {
  /* border: 1px black solid; */
  height: 100%;
  width: 100%;
}

.animal-bio-pic {
  width: 100%;
  border-radius: 3px;
}

/* ==========SECTION 3 STYLING============= */

/* Applying styling to the entire section */
#gallery {
}

#gallery-grid-container {
  display: grid;
  height: 90vh;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 10px;
  border: solid black 2px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

#gallery-item-1 {
  grid-column: span 1;
  grid-row: span 2;
  text-align: center;
  margin: 5px;
  border: dashed blue 5px;
  border-radius: 10px;
  background-color: aqua;
}

#gallery-item-1 h3 {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: blue;
}

#gallery-item-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#gallery-item-2 {
  grid-column: span 1;
  grid-row: span 3;
  text-align: left;
  padding: 5px 15px;
  margin: 5px;
  border: dashed red 5px;
  border-radius: 10px;
  background-color: pink;
}

#gallery-item-2 h3 {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: red;
}

#gallery-item-2 p {
  color: white;
}

#gallery-item-3 {
  grid-column: span 1;
  grid-row: span 1;
  text-align: center;
  margin: 5px;
  border: dashed green 5px;
  border-radius: 10px;
}
#gallery-item-4 {
  grid-column: span 1;
  grid-row: span 3;
  text-align: center;
  margin: 5px;
  border: dashed purple 5px;
  border-radius: 10px;
}
#gallery-item-5 {
  grid-column: span 1;
  grid-row: span 1;
  text-align: center;
  margin: 5px;
  border: dashed purple 5px;
  border-radius: 10px;
  display: none;
}
#gallery-item-6 {
  grid-column: span 1;
  grid-row: span 3;
  text-align: center;
  margin: 5px;
  border: dashed purple 5px;
  border-radius: 10px;
  display: none;
}
/* ==========SECTION 4 STYLING============= */
#bookings {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

#bookings-form-container {
  border: 1px solid red;
  padding: 20px 80px;
}

#bookings-image-container {
  /* https://unsplash.com/photos/GHOiyov2TSQ */
  background-image: url("../images/horses.jpg");
  background-size: contain;
  border: 1px solid blue;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
}

/* ==========FOOTER STYLIING============= */

/* ==========RESPONSIVE DESIGN============= */

/* ===== 5K RETINA MAC LABS: Media queries for Curtin Uni mac lab testing only ===== */
@media only screen and (max-width: 5120px) {
}

/* ===== DESKTOP HD: Media queries for most HD desktops ===== */
@media only screen and (max-width: 1920px) {
}

/* ===== SMALL DESKTOP: Media queries for laptop/small desktop ===== */
@media only screen and (max-width: 1366px) {
}

/* ===== TABLET: Media queries for verticle and horizontal ===== */
@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 768px) {
}

/* ===== MOBILE: Media queries for small mobile resolution. ===== */
@media only screen and (max-width: 640px) {
}

@media only screen and (max-width: 360px) {
}

/* REFERENCES */

/* sheep.jpg -  https://unsplash.com/photos/GHOiyov2TSQ */
/* cows.jpg - https://unsplash.com/photos/UdhpcfImQ9Y */
/* horses.jpg - https://unsplash.com/photos/38_XHFO6ycI */
/* horse.jpg - https://unsplash.com/photos/Olt577JtPM0 */
