/* REFERENCES AT THE END OF THE CSS FILE */

/* ==========BASIC UNIVERSAL STYLING & CLEAN UP============= */

/* Including a downloaded font in the project using the 'font-face' rule */
@font-face {
  font-family: "Bebas";
  /* Jumps back to index via ../ */
  src: url("../fonts/BebasNeue-Regular.ttf");
}

/* some basic css resetting */
/* declaring CSS Custom Properties (increases maintainability) */
/* Selecting the root element of your page, which in almost all cases is the html element */
:root {
  --primary-color: #fffefe;
  --secondary-color: #292226;
  --tertiary-color: #4d697b;

  --hero-font: "Amatic SC";
  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "Bebas";
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

nav a {
  text-decoration: none;
  color: var(--secondary-color);
  font-family: var(--secondary-font);
}

section {
  height: auto;
  padding: 10px;
  /* border: pink 5px dashed; */
}

h1,
h2,
h3 {
  font-family: var(--secondary-font);
}

h1 {
  font-family: var(--hero-font);
  color: var(--primary-color);
}

h2 {
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
}
/* ==========HEADER============= */

header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  position: sticky;
  top: 0;
  left: 0;
  /* remember that a value for the position property must 
  be specified for a z-index to work */
  z-index: 10;
  background-color: #ffffff;
  border-bottom: 1px solid grey;
}

header a {
  height: 100%;
}

/* ==========LOGO============= */

.logo {
  height: 100%;
  width: auto;
}

/* ==========NAVIGATION============= */

nav {
  width: 50%;
  min-width: 600px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

/* Styling the nav bar text */
nav li a {
  font-size: 26px;
  font-weight: 400;
  transition: 1s ease;
}

nav li a:hover {
  color: var(--tertiary-color);
  text-decoration: underline;
}

/* ==========MAIN BODY CONTENT============= */

/* ==========SECTION 1 STYLING============= */

#hero {
  /* Sets the height of the section to the entire height of the viewport */
  height: 100vh;
  /* An element with position: absolute must have a parent element set
   to position: relative to contain it, otherwise it will be positioned in relation
   to the html element. This is the parent container for the hero text */
  position: relative;
  /* Make sure to get this image below 1MB - other images should be around 200kb */
  background-image: url("../images/hero3.jpg");
  background-position: center;
  background-size: cover;
}

.hero-text {
  /* Parent of this element must be position relative */
  /* Position absolute takes it out of the normal content flow */
  position: absolute;
  color: white;
  top: 50%;
  left: 10%;
  font-size: 8rem;
}

/* ==========SECTION 2 STYLING============= */

#about-us h3 {
  padding: 0;
  margin: 0;
}

#about-us-grid-container {
  margin: 0 auto;
  margin-bottom: 100px;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 400px 400px;
  gap: 50px;
  /* border: darkblue dashed 3px; */
}

.about-us-grid-item {
  /* border: black 1px solid; */
  font-family: "Montserrat", sans-serif;
  text-align: justify;
}

.about-us-grid-item li {
  margin-bottom: 10px;
}

#about-us-image-1 {
  background-image: url("../images/blue-mountains.jpg");
  background-position: bottom;
  background-size: cover;
  border-radius: 3px;
}

#about-us-image-2 {
  background-image: url("../images/child-feeding-chickens.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 3px;
}

#meet-the-animals {
  margin: 0 auto;
  max-width: 1000px;
}

#meet-the-animals-grid-container {
  display: grid;
  /* min-max stops the elements from the images from resizing to a tiny width */
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-template-rows: repeat(2, 200px);
  place-items: center;
  gap: 100px;
  margin-bottom: 50px;
}

.meet-the-animals-grid-item {
  /* border: 1px black solid; */
  height: 100%;
  width: 100%;
}

.animal-bio-pic {
  /* Covers the entire are whilst maintaining the aspect ratio */
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  transition: transform 0.1s ease-in-out;
}

.animal-bio-pic:hover {
  transform: scale(1.01);
}

/* ==========SECTION 3 STYLING============= */

#gallery-grid-container {
  display: grid;
  height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

#gallery-item-1 {
  grid-column: span 1;
  grid-row: span 2;
}

#gallery-item-2 {
  grid-column: span 1;
  grid-row: span 3;
}

#gallery-item-3 {
  grid-column: span 1;
  grid-row: span 1;
}
#gallery-item-4 {
  grid-column: span 1;
  grid-row: span 4;
}
#gallery-item-5 {
  grid-column: span 1;
  grid-row: span 2;
}

#gallery-item-6 {
  grid-column: span 1;
  grid-row: span 3;
}

/* ==========SECTION 4 STYLING============= */
#bookings {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1000px;
  margin: 0 auto;
}

#bookings-form-container {
  width: 400px;
  margin: 0 auto;
}

/* using flexbox to make all of the child elements the same width */
form {
  display: flex;
  flex-direction: column;
}

/* decreasing the amount of space bewteen form elements */
form > * {
  margin: -7px;
}

label,
::placeholder,
select,
input[type="date"] {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
}

textarea {
  width: auto;
  height: 150px;
}

#book-now-button {
  font-family: var(--secondary-font);
  font-size: medium;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 50px;
  border: none;
  padding: 10px 0;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  font-weight: bold;
}

#book-now-button:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: solid 2px var(--secondary-color);
}

/* ==========FOOTER STYLIING============= */

footer {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  height: auto;
}

footer ul {
  list-style-type: none;
}

.footer-space-manager {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-container a {
  color: var(--primary-color);
  text-decoration: none;
}

/* ==========RESPONSIVE DESIGN============= */

/* ===== DESKTOP HD: Media queries for most HD desktops ===== */
@media only screen and (max-width: 1920px) {
}

/* ===== SMALL DESKTOP: Media queries for laptop/small desktop ===== */
@media only screen and (max-width: 1366px) {
}

/* ===== TABLET: Media queries for verticle and horizontal ===== */
@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 768px) {
}

/* ===== MOBILE: Media queries for small mobile resolution. ===== */
@media only screen and (max-width: 640px) {
  /* ==========NAVIGATION============= */

  nav {
    width: 80%;
    min-width: 200px;

    /* min-width: 600px; */
  }

  /* Styling the nav bar text */
  nav li a {
    font-size: 3.5vw;
  }

  /* ==========SECTION 1 STYLING============= */

  .hero-text {
    top: 60%;
    left: 10%;
    font-size: 13vw;
  }

  /* ==========SECTION 2 STYLING============= */

  #about-us-grid-container {
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }

  .about-us-grid-item {
    width: 90%;
    height: 50vh;
  }

  #meet-the-animals-grid-container {
    display: grid;
    /* min-max stops the elements from the images from resizing to a tiny width */
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-template-rows: repeat(2, minmax(100px, 1fr));
    place-items: center;
    gap: 40px;
    padding: 20px;
  }

  .animal-bio-pic {
    max-height: 25vh;
  }

  /* ==========SECTION 3 STYLING============= */

  #gallery-grid-container {
    height: auto;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    border: 1px solid pink;
  }

  #gallery-item-4 {
    grid-column: span 1;
    grid-row: span 5;
  }
  /* ==========FOOTER STYLIING============= */

  .footer-space-manager {
    flex-direction: column;
    align-items: flex-start;
    border: pink 1px solid;
    padding: 0 20px;
  }

  #footer-nav-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 360px) {
  /* ==========NAVIGATION============= */

  nav {
    width: 50%;
    min-width: 50px;
    border: #292226 dashed 1px;

    /* min-width: 600px; */
  }

  /* Styling the nav bar text */
  nav li a {
    font-size: 3.5vw;
  }

  /* ==========SECTION 1 STYLING============= */

  /* * {
    border: 1px pink dashed;
  } */

  .hero-text {
    top: 55%;
    left: 10%;
    font-size: 5rem;
  }

  /* ==========SECTION 2 STYLING============= */

  #about-us-grid-container {
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }

  .about-us-grid-item {
    width: 90%;
    height: 50vh;
  }

  #meet-the-animals-grid-container {
    display: grid;
    /* min-max stops the elements from the images from resizing to a tiny width */
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    grid-template-rows: repeat(2, 200px);
    place-items: center;
    gap: 100px;
    margin-bottom: 50px;
  }

  .animal-bio-pic {
    max-height: 25vh;
  }

  /* ==========SECTION 3 STYLING============= */

  #gallery-grid-container {
    height: auto;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }

  /* ==========FOOTER STYLIING============= */

  .footer-space-manager {
    flex-direction: column;
    align-items: flex-start;
    border: pink 1px solid;
    padding: 0 20px;
  }

  #footer-nav-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

/* REFERENCES */

/* Agnelli, Maxime. 2019. selective focus photography of brown goat during daytime. Photograph. Unsplash. February 17, 2019. https://unsplash.com/photos/bhD6TGRjnWc */
/* goat.jpg */

/* Becker, David. 2023. a person petting a small horse on the nose. Photograph. Unsplash. April 27, 2023. https://unsplash.com/photos/0J_dP7tm0Iw */
/* man-pats-horse.jpg */

/* Carter, Sam. 2017. white sheep on green grass during daytime. Photograph. Unsplash. January 16, 2017. https://unsplash.com/photos/GHOiyov2TSQ */
/* sheep.jpg */

/* Headway.io. 2018. time-lapse photography of burning wood. Photograph. Unsplash. April 11, 2018. https://unsplash.com/photos/xvYNf3a6LmM */
/* fireplace.jpg */

/* Isaacson, Hans. 2021. a living room with a stove and a large window. Photograph. Unsplash. September 16, 2021. https://unsplash.com/photos/uX8wVtW5PQo */
/* cabin-interior.jpg */

/* Kovac, Lili. 2018. black and brown house near trees. Photograph. Unsplash. November 21, 2018. https://unsplash.com/photos/BSQq5dRT_KU */
/* cabin-sunset.jpg */

/* Lee, Joeyy. 2021. green and brown mountains under white clouds during daytime. Photograph. Unsplash. March 22, 2021. https://unsplash.com/photos/Y04q5UQrRQM */
/* blue-mountains.jpg */

/* McFeron, Alexander. 2018. woman covering with blanket while holding cup. Photograph. Unsplash. December 2, 2018. https://unsplash.com/photos/DeRbzZO4bUY */
/* woman-drinking-tea.jpg */

/* Ohlman, Laura. 2022. a boy holding a bucket of water. Photograph. Unsplash. August 10, 2022. https://unsplash.com/photos/SO8FjbZRSW0 */
/* child-feeding-chickens.jpg */

/* Peter, Luisa. 2020. brown horse with silver round pendant necklace. Photograph. Unsplash. June 26, 2020.  https://unsplash.com/photos/Olt577JtPM0 */
/* horse.jpg */

/* Pidvalnyi, Oleksandr. 2018. Landscape Photography of Green Grass Field. Photograph. Pexels. July 9, 2018. https://www.pexels.com/photo/landscape-photography-of-green-grass-field-1227596/*/
/* hero3.jpg */

/* Schipper Vera, Kenneth. 2020. a couple of pigs that are laying down. Photograph. Unsplash. February 3, 2020. https://unsplash.com/photos/6y7jACxmhP8 */
/* piglets.jpg */

/* Te Strake, Stijn. 2017. a herd of cows standing on top of a lush green field. Photograph. Unsplash. July 21, 2017. https://unsplash.com/photos/UdhpcfImQ9Y */
/* cows.jpg */

/* Vasiljevic, Jovan. 2021. white and gold box on white textile. Photograph. Unsplash. March 3, 2021. https://unsplash.com/photos/HvX8bOBvyR8 */
/* coffee-in-bed.jpg */

/* Wainscoat, James. 2021. brown chicken on green grass field during daytime. Photograph. Unsplash. February 1, 2021. https://unsplash.com/photos/yEW23jxVsNI */
/* chicken.jpg */
